/* MOBILE */
html,
body {
    font-size: map-get($map: $font-sizes, $key: "mobile-font-size");
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: $page-background;
}

h1,
h2,
h3 {
    color: $title-text-color;
    font-family: $title-font-stack;
}
    h1 {
        font-size: map-get($map: $font-sizes, $key: "mobile-font-size") * 2;
    }

    h2 {
        margin-bottom: 1.5rem;

        font-size: map-get($map: $font-sizes, $key: "mobile-font-size") * 1.75;
    }

    h3 {
        margin-bottom: 1.25rem;

        font-size: map-get($map: $font-sizes, $key: "mobile-font-size") * 1.5;
    }

p {
    color: $default-text-color;
    font-family: $text-font-stack;
    font-size: map-get($map: $font-sizes, $key: "mobile-font-size");
    line-height: 1.5rem;
}

a {
    color: inherit;

    text-decoration: none;
}

img {
    max-width: 100%;
}

/* RESPONSIVE LAYOUTS */
/* TABLET */
/* 736px / 16px = 46rem */
@media screen and (min-width: map-get($breakpoints, "tablet")) {
    html,
    body {
        font-size: map-get($map: $font-sizes, $key: "tablet-font-size"); 
    }
}

/* DESKTOP */
/* 1280px / 16px = 80rem */
@media screen and (min-width: map-get($breakpoints, "desktop")) {
    html,
    body {
        font-size: map-get($map: $font-sizes, $key: "desktop-font-size");
    }
}