/*========== RESPONSIVE DESIGN ==========*/
$breakpoints: (
    "tablet": 736px,
    "desktop": 1280px,
);

$icons-width: (
    "mobile": 40px,
    "tablet": 70px,
    "desktop": 90px,
);

/*========== COLORS ==========*/
$alto: hsl(0, 0%, 87%);
$black-haiti: hsl(249, 58%, 14%);
$daisy-bush: hsl(249, 69%, 39%);
$dense-black: hsla(0, 0%, 0%, 0.75);
$derby: hsl(30, 100%, 93%);
$firefly: hsl(193, 50%, 7%);
$flush-orange: hsl(30, 100%, 50%);
$haiti: hsl(256, 60%, 14%);
$lucky-point: hsl(248, 58%, 25%);
$seance: hsl(278, 58%, 34%);
$white-transparent: hsla(0, 0%, 100%, 0.10);

/*========== BACKGROUNDS ==========*/
$page-background: linear-gradient($lucky-point, $black-haiti);
$menu-background: linear-gradient(135deg, $firefly, $haiti);
$button-background: linear-gradient($seance, $daisy-bush);

/*========== BORDERS ==========*/
$heavy-box-shadow: -2px 2px 4px $dense-black;
$light-box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);

/*========== TEXTS ==========*/
// TEXT COLORS
// TITLES
$title-text-color: $flush-orange;

// NORMAL TEXT
$default-text-color: $alto;

// LINKS
$link-menu-text-color: $derby;
$link-menu-hover-text-color: $flush-orange;

// TEXT SIZES
$font-sizes: (
    "mobile-font-size": 16px,
    "tablet-font-size": 20px,
    "desktop-font-size": 24px,
);

/*========== FONTS ==========*/
$title-font-stack: (
    'Roboto Mono',
    'Courier New',
    Courier,
    monospace
);

$text-font-stack: (
    'Oxygen',
    Arial,
    Helvetica,
    sans-serif
);