.menu {
    background-image: $menu-background;

    box-shadow: $heavy-box-shadow;

    text-align: center;

    z-index: 1;

    &__hamburguer-menu-icon {
        cursor: pointer;
    }

    &__nav-page__links__item:not(:last-child) {
        border-bottom: 1px solid $white-transparent;
    }

    &__nav-page__links__item__link {
        display: block;

        padding: 1.5rem 3rem;

        color: $link-menu-text-color;
        font-family: $text-font-stack;
        font-size: 1rem;

        transition: color .1s ease-in;

        &:hover {
            color: $link-menu-hover-text-color;
        }
    }
}

/* NO JAVASCRIPT */
.no-js {
    .menu__hamburguer-menu-icon {
        display: none;
    }
}

/* WITH JAVASCRIPT */
.js {
    .menu {
        background-image: none;
        box-shadow: none;

        position: fixed;
        top: 0;
        right: 0;

        display: flex;
        flex-direction: column;

        &__hamburguer-menu-icon {
            width: 1.875rem;

            align-self: flex-end;

            margin-top: 1rem;
            margin-right: 1rem;
        }

        &__nav-page {
            height: 0;

            overflow: hidden;
        }
    }
}

/* DESKTOP */
/* 1280px / 16px = 80rem */
@media screen and (min-width: 80rem) {
    .no-js,
    .js {
        .menu {
            background-image: $menu-background;
            width: 100%;

            position: fixed;

            box-shadow: $heavy-box-shadow;

            &__hamburguer-menu-icon {
                display: none;
            }

            &__nav-page {
                height: auto;

                &__links {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    &__item:not(:last-child) {
                        border: none;
                    }

                    &__item__link {
                        padding: 1rem 2rem;

                        font-size: .75rem;
                    }
                }
            }
        }
    }
}