/*============================== Imports ==================================== */
/**
    2 Fonts:
        * Oxygen:
            * Purpose: For default texts.
            * URL: https://fonts.google.com/specimen/Oxygen?query=Oxygen.
            * Weights:
                * 400 - Regular;
                * 700 - Bold;

        * Roboto:
            * Purpose: Tittles.
            * URL: https://fonts.google.com/specimen/Roboto;
            * Weights:
                * 700 - Bold;
*/
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Roboto+Mono:wght@700&display=swap");
/*========== RESPONSIVE DESIGN ==========*/
/*========== COLORS ==========*/
/*========== BACKGROUNDS ==========*/
/*========== BORDERS ==========*/
/*========== TEXTS ==========*/
/*========== FONTS ==========*/
/* BUG FIXES */
/* This class solve the problem with the <a> tag with navigation "href="#"", that when the link is pressed, the page moves so that the initial part of the container is "hidden" behind the navigation menu */
/* TODO: - Find a better way to solve this problem */
/* ACESSIBILITY */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
    ========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
    ========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
    ========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
    ========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/* Forms
    ========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
    ========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
    ========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

/* MOBILE */
html,
body {
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(hsl(248, 58%, 25%), hsl(249, 58%, 14%));
}

h1,
h2,
h3 {
  color: hsl(30, 100%, 50%);
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
}

h3 {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
}

p {
  color: hsl(0, 0%, 87%);
  font-family: "Oxygen", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

img[src^="assets/images/icons/"] {
  width: 40px;
}

/* RESPONSIVE LAYOUTS */
/* TABLET */
/* 736px / 16px = 46rem */
@media screen and (min-width: 736px) {
  html,
  body {
    font-size: 20px;
  }
  img[src^="assets/images/icons/"] {
    width: 70px;
  }
}
/* DESKTOP */
/* 1280px / 16px = 80rem */
@media screen and (min-width: 1280px) {
  html,
  body {
    font-size: 24px;
  }
}
.menu {
  background-image: linear-gradient(135deg, hsl(193, 50%, 7%), hsl(256, 60%, 14%));
  box-shadow: -2px 2px 4px hsla(0, 0%, 0%, 0.75);
  text-align: center;
  z-index: 1;
}
.menu__hamburguer-menu-icon {
  cursor: pointer;
}
.menu__nav-page__links__item:not(:last-child) {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}
.menu__nav-page__links__item__link {
  display: block;
  padding: 1.5rem 3rem;
  color: hsl(30, 100%, 93%);
  font-family: "Oxygen", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  transition: color 0.1s ease-in;
}
.menu__nav-page__links__item__link:hover {
  color: hsl(30, 100%, 50%);
}

/* NO JAVASCRIPT */
.no-js .menu__hamburguer-menu-icon {
  display: none;
}

/* WITH JAVASCRIPT */
.js .menu {
  background-image: none;
  box-shadow: none;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
.js .menu__hamburguer-menu-icon {
  width: 1.875rem;
  align-self: flex-end;
  margin-top: 1rem;
  margin-right: 1rem;
}
.js .menu__nav-page {
  height: 0;
  overflow: hidden;
}

/* DESKTOP */
/* 1280px / 16px = 80rem */
@media screen and (min-width: 80rem) {
  .no-js .menu,
  .js .menu {
    background-image: linear-gradient(135deg, hsl(193, 50%, 7%), hsl(256, 60%, 14%));
    width: 100%;
    position: fixed;
    box-shadow: -2px 2px 4px hsla(0, 0%, 0%, 0.75);
  }
  .no-js .menu__hamburguer-menu-icon,
  .js .menu__hamburguer-menu-icon {
    display: none;
  }
  .no-js .menu__nav-page,
  .js .menu__nav-page {
    height: auto;
  }
  .no-js .menu__nav-page__links,
  .js .menu__nav-page__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .no-js .menu__nav-page__links__item:not(:last-child),
  .js .menu__nav-page__links__item:not(:last-child) {
    border: none;
  }
  .no-js .menu__nav-page__links__item__link,
  .js .menu__nav-page__links__item__link {
    padding: 1rem 2rem;
    font-size: 0.75rem;
  }
}
.contact {
  width: 80vw;
  margin: 3.875rem auto 0;
  margin-bottom: 1rem;
  text-align: center;
}
.contact__title {
  margin-bottom: 1rem;
}
.contact__links {
  margin-top: 1rem;
}
.contact__links__list {
  display: flex;
  justify-content: space-between;
}
.contact__links__list img[src^="assets/images/icons/"] {
  width: 40px;
}
.contact__links__list a {
  display: inline-block;
  height: 1.875rem;
}

/* RESPONSIVE LAYOUTS */
/* TABLET */
/* 736px / 16px = 46rem */
@media screen and (min-width: 46rem) {
  .contact__links__list img[src^="assets/images/icons/"] {
    width: 2rem;
  }
}
/* DESKTOP */
/* 1280px / 16px = 80rem */
@media screen and (min-width: 80rem) {
  .contact {
    margin-bottom: 2rem;
  }
  .contact__links__list {
    width: 60%;
    margin: auto;
  }
}
/*============================== Top to Bottom ==============================*/
/* INTRODUCTION */
.introduction {
  width: 80vw;
  /* This value change according the nav height */
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  margin: 3rem auto auto;
}
.introduction__photo {
  width: 50%;
  height: 50%;
  max-height: 30rem;
  margin-right: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 10% 10%;
     object-position: 10% 10%;
}
.introduction__text {
  display: inline-block;
  margin: 0;
  color: hsl(0, 0%, 87%);
  font-size: 16px;
  font-family: "Oxygen", Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.5rem;
}
.introduction__text--margin-bottom {
  display: block;
  margin-bottom: 1rem;
}
.introduction__text__strong {
  color: hsl(30, 100%, 50%);
}

/* CURRENT COMPANY */
.current-company {
  width: 80vw;
  margin: 3.875rem auto 0;
  /* This value change according the nav height */
  padding-top: 4rem;
  text-align: center;
}
.current-company__description {
  margin-bottom: 1rem;
}
.current-company__description__link {
  color: hsl(30, 100%, 50%);
  text-decoration: underline;
}
.current-company__technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem 4rem;
}

/* WORK HISTORY */
.work-history {
  width: 80vw;
  margin: 3.875rem auto 0;
  /* This value change according the nav height */
  padding-top: 4rem;
  text-align: center;
}

/* KNOWLEDGE */
.knowledge {
  width: 80vw;
  margin: 3.875rem auto 0;
  /* This value change according the nav height */
  padding-top: 4rem;
  text-align: center;
}
.knowledge__technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem 4rem;
}
.knowledge__technologies--learning {
  display: flex;
  position: relative;
}
.knowledge__technologies--learning::after {
  content: "Aprendendo";
  width: 150%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  border-radius: 3px;
  color: hsl(30, 100%, 50%);
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  font-size: 1rem;
  text-align: center;
  transform: translate(-17.5%, 50%) rotateZ(-15deg);
}

/* PROJECTS */
.projects {
  width: 80vw;
  margin: 3.875rem auto 0;
  /* This value change according the nav height */
  padding-top: 4rem;
  /* VITRINE DEV */
  /* PROJECT */
}
.projects__title {
  text-align: center;
}
.projects__vitrine-dev {
  margin: 2rem auto;
  text-align: center;
}
.projects__vitrine-dev__tittle {
  color: hsl(30, 100%, 50%);
}
.projects__vitrine-dev__link {
  background-image: linear-gradient(hsl(278, 58%, 34%), hsl(249, 69%, 39%));
  display: inline-block;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  color: hsl(0, 0%, 87%);
  font-size: 1.5rem;
  font-family: "Oxygen", Arial, Helvetica, sans-serif;
  text-decoration: underline;
}
.projects__project {
  margin-bottom: 2rem;
}
.projects__project:nth-child(odd) {
  flex-direction: row;
}
.projects__project:nth-child(even) {
  flex-direction: row-reverse;
}
.projects__project__image {
  display: block;
  width: 50%;
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.projects__project__description {
  margin-top: 1rem;
}
.projects__project__description > * {
  margin-top: 1rem;
}
.projects__project__description img[src^="assets/images/icons/"] {
  width: 40px;
}
.projects__project__description__title {
  color: hsl(0, 0%, 87%);
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  font-size: 20px;
  text-align: center;
}
.projects__project__description__link {
  text-decoration: underline;
}
.projects__project__description__technologies {
  display: flex;
  margin-top: 0.5rem;
}
.projects__project__description__technologies__technologie {
  width: 40px;
  height: 40px;
}
.projects__project__description__technologies__technologie:not(:first-child) {
  margin-left: 1rem;
}
.projects__project__description__github {
  display: inline-block;
}
.projects__project__description__github img {
  width: 2.8rem;
}

/* RESPONSIVE LAYOUTS */
/* TABLET */
/* 736px / 16px = 46rem */
@media screen and (min-width: 46rem) {
  /* INTRODUCTION */
  .introduction__text {
    width: 40%;
    font-size: 20px;
  }
  /* CURRENT COMPANY */
  .current-company__technologies img {
    width: 3rem;
  }
  /* KNOWLEDGE */
  .knowledge__technologies img {
    width: 3rem;
  }
  /* PROJECTS */
  .projects__project__image {
    width: 75%;
  }
  .projects__project__description__title {
    font-size: 1.5rem;
  }
  .projects__project__description__technologies__technologie {
    width: 70px;
    height: 70px;
  }
  .projects__project__description img[src^="assets/images/icons/"] {
    width: 50px;
  }
  .projects__project__description__github img {
    width: 2.8rem;
  }
}
/* DESKTOP */
/* 1280px / 16px = 80rem */
@media screen and (min-width: 80rem) {
  /* INTRODUCTION */
  .introduction__photo {
    max-width: 25%;
  }
  .introduction__text {
    font-size: 24px;
  }
  /* PROJECTS */
  .projects__project {
    display: flex;
  }
  .projects__project:nth-child(even) .projects__project__image {
    margin-right: 0;
  }
  .projects__project:nth-child(even) .projects__project__description {
    margin-left: 0;
    margin-right: 2rem;
  }
  .projects__project:nth-child(odd) .projects__project__image {
    margin: 0;
  }
  .projects__project__image {
    width: 40%;
  }
  .projects__project__description {
    margin-top: 0;
    margin-left: 2rem;
  }
  .projects__project__description__title {
    margin-top: 0;
    font-size: 1.5rem;
    text-align: left;
  }
  .projects__project__description__technologies__technologie {
    width: 90px;
    height: 90px;
  }
  .projects__project__description__github img {
    width: 90px;
  }
}/*# sourceMappingURL=main.css.map */