/*============================== Configurations ==============================*/
:root {
    /* COLORS */
    

    /* BACKGROUNDS */
    --page-background: linear-gradient(#251B66, #150F38);
    --menu-background: linear-gradient(135deg, #09171B, #190E38);

    /* BORDERS */


    /* TEXTS */
    --title-text: #FF8811;
    
    --default-text: #ddd;
    
    --link-menu-text: #FFEEDD;
    --link-menu-hover-text: #FF8000;

    /* FONTS */
    --title-font: 'Roboto Mono', 'Courier New', Courier, monospace;

    --text-font: 'Oxygen', Arial, Helvetica, sans-serif;
}

/*============================== Generic Classes ==============================*/
.width-boxes {
    width: 80vw;
}

.block--default-margin {
    margin: 3.875rem auto 0;
}

.align-text--center {
    text-align: center;
}

/* ACESSIBILITY */
.acessibility--hidden-text {
    width: 1px;
    height: 1px;
    
    position: absolute;

    color: transparent;

    overflow: hidden;
}

.acessibility--show-with-tab:focus {
    width: auto;
    height: auto;

    top: 4rem;
    left: 1rem;

    color: white;
    font-family: var(--text-font);
    text-decoration: underline;

    overflow: visible;
}

/*============================== Page - Top to Bottom ==============================*/
/* INTRODUCTION */
.introduction {
    display: flex;
    justify-content: center;

    margin: 3rem auto auto;
}

    .introduction__photo {
        height: 100%;
        max-height: 18rem;
        
        margin-right: 1rem;
    }

    .introduction__text {
        display: inline-block;

        margin: 0;

        color: var(--default-text);
        font-size: 1rem;
        font-family: var(--text-font);
        font-weight: normal;
        line-height: 1.5rem;
    }

        .introduction__text--margin-bottom {
            display: block;

            margin-bottom: 1rem;
        }

/* CURRENT COMPANY */
.current-company__description {
    margin-bottom: 1rem;
}

    .current-company__description__link {
        color: var(--link-menu-hover-text);
        text-decoration: underline;
    }

.current-company__technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem 4rem;
}

/* KNOWLEDGE */
.knowledge__technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem 4rem;
}

/* RESPONSIVE LAYOUTS */
/* TABLET */
/* 736px / 16px = 46rem */
@media screen and (min-width: 46rem) {
    /*============================== Generic Elements ==============================*/
    html {
        font-size: 24px;
    }

    /*============================== Generic Classes ==============================*/
    .width-boxes {
        width: 60vw;
    }

    /*============================== Page - Top to Bottom ==============================*/
    /* INTRODUCTION */
    .introduction__text {
        width: 40%;
    }

    /* CURRENT COMPANY */
    .current-company__technologies img {
        width: 3rem;
    }

    /* KNOWLEDGE */
    .knowledge__technologies img {
        width: 3rem;
    }
}

/* DESKTOP */
/* 1280px / 16px = 80rem */
@media screen and (min-width: 80rem) {
    /*============================== Generic Elements ==============================*/
    h2 {
        font-size: 2rem;
    }

    /*============================== Generic Classes ==============================*/
    .width-boxes {
        width: 60vw;
    }

    .block--default-margin {
        margin: 6rem auto 0;
    }

    /* This class solve the problem with the <a> tag with navigation "href="#"", that when the link is pressed, the page moves so that the initial part of the container is "hidden" behind the navigation menu */
    /* FIXME: - Find a better way to solve this problem */
    .navigation--padding-top {
        /* This value change according the nav height */
        padding-top: 4rem;
    }
}
