/*============================== Imports ==================================== */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Roboto+Mono:wght@700&display=swap');

/*============================== Configurations ==============================*/
:root {
    /* COLORS */
    

    /* BACKGROUNDS */
    --page-background: linear-gradient(#251B66, #150F38);
    --menu-background: linear-gradient(135deg, #09171B, #190E38);

    /* BORDERS */


    /* TEXTS */
    --title-text: #FF8811;
    
    --default-text: #ddd;
    
    --link-menu-text: #FFEEDD;
    --link-menu-hover-text: #FF8000;

    /* FONTS */
    --title-font: 'Roboto Mono', 'Courier New', Courier, monospace;

    --text-font: 'Oxygen', Arial, Helvetica, sans-serif;
}

/*============================== Generic Elements ==============================*/
html {
    scroll-behavior: smooth;
}

body {
    background-image: var(--page-background);
}

h1, h2, h3 {
    color: var(--title-text);
    font-family: var(--title-font);
}

    h2 {
        margin-bottom: 1.5rem;

        font-size: 1.5rem;
    }

    h3 {
        margin-bottom: 1.25rem;

        font-size: 1.25rem;
    }

p {
    color: var(--default-text);
    font-family: var(--text-font);
    font-size: 1rem;
    line-height: 1.5rem;
}

a {
    color: inherit;

    text-decoration: none;
}

img {
    max-width: 100%;
}

/*============================== Generic Classes ==============================*/
.width-boxes {
    width: 80vw;
}

.block--default-margin {
    margin: 3.875rem auto 0;
}

.align-text--center {
    text-align: center;
}

/* ACESSIBILITY */
.acessibility--hidden-text {
    width: 1px;
    height: 1px;
    
    position: absolute;

    color: transparent;

    overflow: hidden;
}

.acessibility--show-with-tab:focus {
    width: auto;
    height: auto;

    top: 4rem;
    left: 1rem;

    color: white;
    font-family: var(--text-font);
    text-decoration: underline;

    overflow: visible;
}

/*============================== Page - Top to Bottom ==============================*/
/* SAME PAGE NAVIGATION */
    .menu {
        background-image: var(--menu-background);

        box-shadow: -2px 2px 4px rgba(0, 0, 0, .75);
    }

        .hamburguer-menu-icon {
            cursor: pointer;
        }

        .nav-page__item:not(:last-child) {
            border-bottom: 1px solid rgba(255, 255, 255, .02);
        }

            .nav-page__link {
                display: block;

                padding: 1.5rem 3rem;

                color: var(--link-menu-text);
                font-family: var(--text-font);
                font-size: 1rem;

                transition: color .1s ease-in;
            }

                .nav-page__link:hover {
                    color: var(--link-menu-hover-text);
                }

    /* NO JAVASCRIPT */
    .no-js .hamburguer-menu-icon {
        display: none;
    }

    /* WITH JAVASCRIPT */
    .js .menu {
        background-image: none;
        box-shadow: none;

        position: fixed;
        top: 0;
        right: 0;

        display: flex;
        flex-direction: column;
    }

        .js .hamburguer-menu-icon {
            width: 1.875rem;

            align-self: flex-end;

            margin-top: 1rem;
            margin-right: 1rem;
        }

        .js .nav-page {
            height: 0;

            overflow: hidden;
        }

/* INTRODUCTION */
.introduction {
    display: flex;
    justify-content: center;

    margin: 3rem auto auto;
}

    .introduction__photo {
        height: 100%;
        max-height: 18rem;
        
        margin-right: 1rem;
    }

    .introduction__text {
        display: inline-block;

        margin: 0;

        color: var(--default-text);
        font-size: 1rem;
        font-family: var(--text-font);
        font-weight: normal;
        line-height: 1.5rem;
    }

        .introduction__text--margin-bottom {
            display: block;

            margin-bottom: 1rem;
        }

/* CURRENT COMPANY */
.current-company__description {
    margin-bottom: 1rem;
}

    .current-company__description__link {
        color: var(--link-menu-hover-text);
        text-decoration: underline;
    }

.current-company__technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

    .current-company__technologies img:not(:first-child) {
        margin-left: 2rem;
    }

/* KNOWLEDGE */
.knowledge__technologies {
    display: flex;
    justify-content: space-around;
}

/* PROJECTS */
.projects__title {
    text-align: center;
}

    /* VITRINE DEV */
    .projects__vitrine-dev {
        margin: 2rem auto;

        text-align: center;
    }

        .projects__vitrine-dev__tittle {
            color: var(--title-text);
        }

        .projects__vitrine-dev__link {
            background-image: linear-gradient(#632488, #341fa8);

            display: inline-block;

            border-radius: 5px;
            padding: 1rem 1.5rem;

            color: var(--default-text);
            font-size: 1.5rem;
            font-family: var(--text-font);
            text-decoration: underline;
        }

    /* PROJECT */
    .project__image {
        display: block;

        width: 50%;

        margin: auto;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    }

    .project__description {
        margin-top: 1rem;
    }

        .project__title {
            color: var(--default-text);
            font-family: var(--title-font);

            text-align: center;
        }

        .project__link {
            text-decoration: underline;
        }

        .project--margin-top {
            margin-top: 1rem;
        }

        .project__technologies {
            margin-top: .5rem;
        }

            .project__technologie {
                width: 2rem;
            }

                .project__technologie:not(:first-child) {
                    margin-left: 1rem;
                }

            .project-github {
                display: inline-block;

                margin-top: 1rem;
            }

                .project-github img {
                    width: 2.8rem;
                }

/* CONTACT */
.contact {
    margin-bottom: 1rem;
}

    .contact__links {
        margin-top: 1rem;
    }

        .contact__list {
            display: flex;
            justify-content: space-between;
        }

            .contact__list a {
                display: inline-block;

                height: 1.875rem;
            }

/* RESPONSIVE LAYOUTS */
/* TABLET */
/* 736px / 16px = 46rem */
@media screen and (min-width: 46rem) {
    /*============================== Generic Elements ==============================*/
    html {
        font-size: 24px;
    }

    /*============================== Generic Classes ==============================*/
    .width-boxes {
        width: 60vw;
    }

    /*============================== Page - Top to Bottom ==============================*/
    /* INTRODUCTION */
    .introduction__text {
        width: 40%;
    }

    /* CURRENT COMPANY */
    .current-company__technologies img {
        width: 3rem;
    }

    /* KNOWLEDGE */
    .knowledge__technologies img {
        width: 3rem;
    }

    /* PROJECTS */
    .project__image {
        width: 75%;
    }

        .project-github img {
            width: 2.8rem;
        }

    /* CONTACT */
    .contact__list img {
        width: 2rem;
    }
}

/* DESKTOP */
/* 1280px / 16px = 80rem */
@media screen and (min-width: 80rem) {
    /*============================== Generic Elements ==============================*/
    h2 {
        font-size: 2rem;
    }

    /*============================== Generic Classes ==============================*/
    .width-boxes {
        width: 60vw;
    }

    .block--default-margin {
        margin: 6rem auto 0;
    }

    /* This class solve the problem with the <a> tag with navigation "href="#"", that when the link is pressed, the page moves so that the initial part of the container is "hidden" behind the navigation menu */
    /* FIX - Find a better way to solve this problem */
    .navigation--padding-top {
        /* This value change according the nav height */
        padding-top: 4rem;
    }

    /*============================== Page - Top to Bottom ==============================*/
    /* SAME PAGE NAVIGATION */
    .header .menu {
        background-image: var(--menu-background);
        width: 100%;

        position: fixed;
    }

        .hamburguer-menu-icon {
            display: none;
        }

        .header .nav-page {
            height: auto;
        }

            .nav-page__links {
                display: flex;
                justify-content: flex-end;
            }

                .nav-page__link {
                    padding: 1rem 2rem;

                    font-size: .75rem;
                }

    /* PROJECTS */
    .project {
        display: flex;
    }

        .project__title {
            text-align: left;
        }
        
        .project__image {
            width: 40%;
        }
        
        .project__description {
            margin-left: 2rem;
        }

            .project__title {
                font-size: 1.5rem;
            }

            .project-github img {
                width: 75px;
            }

    /* CONTACT */
    .contact {
        margin-bottom: 2rem;
    }
    
        .contact__list {
            width: 60%;

            margin: auto;
        }
}
